<section class="card-list" id="cardList">
    <div class="container">
        <div class="flex flex-wrap gap-1 margin-auto max-width-901" id="cardListInnerWrapper">
        </div>
        <div class="pagination flex flex-jc-center gap-1p143" id="pagination">
            <a href="" class="pagination-el pagination-el-current">1</a>
            <a href="" class="pagination-el">2</a>
            <a href="" class="pagination-el">3</a>
            <a href="" class="pagination-el">4</a>
            <a href="" class="pagination-el">5</a>
        </div>
    </div>
</section>
