<section class="card-list">
    <div class="container">
        <div class="flex flex-wrap gap-1 margin-auto max-width-901">
            {{> components/card }}
            {{> components/card }}
            {{> components/card }}
            {{> components/card }}
            {{> components/card }}
            {{> components/card }}
            {{> components/card }}
            {{> components/card }}
            {{> components/card }}
            {{> components/card }}
        </div>
    </div>
</section>
