<nav class="main-navbar flex flex-ai-center">
    <div class="container">
        <ul class="flex flex-ai-center gap-1p3">
            <li>
                <a href="javascript:void(0);" class="link link-white flex flex-ai-center gap-0p5">
                    <i class="ico-chevron-left fz-tiny"></i>
                    Back
                </a>
            </li>
            <li class="margin-auto-left">
                <a href="javascript:void(0);" class="flex flex-ai-center fz-big color-white tr-hover-opacity-0p8">
                    <i class="ico-heart"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="flex flex-ai-center fz-big color-white tr-hover-opacity-0p8">
                    <i class="ico-folder"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
