.flex {
    display: flex;

    &-direction {
        &-column {
            flex-direction: column;
        }
    }

    &-jc {
        &-flex-start {
            justify-content: flex-start;
        }

        &-center {
            justify-content: center;
        }

        &-space-between {
            justify-content: space-between;
        }
    }

    &-ai {
        &-center {
            align-items: center;
        }
    }

    &-wrap {
        flex-wrap: wrap;

        &-nw {
            flex-wrap: nowrap;
        }
    }
}

.gap {
    &-0p5 {
        gap: 0.5em;
    }

    &-0p86 {
        gap: 0.86em;
    }

    &-1 {
        gap: 1em;
    }

    &-1p3 {
        gap: 1.3em;
    }

    &-0p143 {
        gap: 0.143em;
    }
}
