.width {
    &-100 {
        width: 100%;
    }
}

.max {
    &-width-600 {
        max-width: 600rem;
    }

    &-width-901 {
        max-width: 901rem;
    }
}

.margin {
    &-auto {
        margin-left: auto;
        margin-right: auto;

        &-left {
            margin-left: auto;
        }
    }
}

.position {
    &-relative {
        position: relative;
    }
}

.box-sizing {
    &-border-box {
        box-sizing: border-box;
    }
}
