.fz {
    &-base {
        font-size: 1em;
    }

    &-tiny {
        font-size: 0.857em;
    }

    &-big {
        font-size: 1.714em;
    }
}

.color {
    &-white {
        color: var(--color-white);
    }
}

.text {
    &-color {
        &-brand-light {
            color: var(--color-brand-light);
        }

        &-red {
            color: var(--color-red);
        }
    }
}
